[core]
	excludesfile = ~/.gitignore_global
[alias]
	adog = log --all --decorate --oneline --graph
[user]
	name = Thibaud Gambier
	email = thibaud.gambier@gmail.com
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
